table {
	width: 70vw;
	min-width: 300px;
	max-width: 600px;
	border-collapse: collapse;
}

th {
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

td {
	border: 1px solid #ddd;
	padding: 8px;
}

td div {
	display: flex;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #f2f2f2;
}
